{% extends "auth/authBase.html" %} {% block title %} Change password {% endblock
%} {% block content %}
<form method="post">
  {{ form.hidden_tag() }}
  <h1 class="h3 mb-3 fw-normal">Change your password</h1>

  <section class="d-flex flex-column gap-3">
    <div class="form-floating">
      {{form.oldPassword(class="form-control", placeholder="Old password")}}
      {{form.oldPassword.label()}}
    </div>
    <div class="form-floating">
      {{form.newPassword(class="form-control", placeholder="New password")}}
      {{form.newPassword.label()}}
    </div>
    <div class="form-floating">
      {{form.new_password_confirm(class="form-control", placeholder="Confirm new
      password")}} {{form.new_password_confirm.label()}}
    </div>

    {{form.submit(class="btn btn-green w-100 py-2", type="submit")}}
  </section>
</form>
{% endblock %}
