{% extends "auth/base.html" %} {% block title %} Sign in {% endblock %} {% block
auth_content %}
<form class="auth-form" method="post">
  {{ form.hidden_tag() }}
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <section class="d-flex flex-column gap-3">
    <div class="form-floating">
      {{form.username(class="form-control", placeholder="Username")}}
      {{form.username.label()}}
    </div>
    <div class="form-floating">
      {{form.password(class="form-control", placeholder="Password")}}
      {{form.password.label()}}
    </div>
    {{form.submit(class="btn btn-primary w-100 py-2", type="submit")}}

    <div class="mt-2">
      Don't have an account?
      <a href="{{url_for('auth.signup')}}">Sign up</a>
    </div>
  </section>
</form>

{% endblock %}
