.T-N-R-I {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.erica-one-regular {
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.diagonal-gradient {
  background: linear-gradient(
    135deg,
    #2175d9 0% 16.6%,
    #f0001c 16.6% 33.3%,
    #ff7f00 33.3% 50%,
    #58ab27 50% 66.6%,
    #facd50 66.6% 83.3%,
    #29dbc9 83.3% 100%
  );

  background-clip: text;
  color: transparent;
}

.chart-container {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .chart-container {
    height: auto !important;
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .chart-container {
    max-width: 450px;
    height: 450px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Removes padding from the main container on just the home page */
body:has(.home-hero) main {
  padding: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

.home-hero {
  min-height: calc(100vh - 80px);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/static/images/parliament_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .home-hero {
    min-height: calc(100vh - 60px);
    background-attachment: scroll;
  }

  .home-hero .card {
    padding: 1.5rem !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9rem;
  }

  .home-hero h1 {
    font-size: 1.8rem;
  }
}

.bg-opacity-75 {
  background-color: rgba(255, 255, 255, 0.85) !important;
  color: #212529;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

/* bigger header on desktop */
@media (min-width: 992px) {
  .nav-title {
    font-size: 3rem;
    transition: font-size 0.3s ease;
  }
}

/* smaller header on  mobile */
@media (max-width: 991px) {
  .nav-title {
    font-size: 1.5rem;
  }

  /* logo centred */
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto !important;
  }
}

/* nav links  */
.navbar-nav .nav-link {
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}
