<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %} Politics: Visualised {% endblock %}</title>

    {% from "macros.html" import signed_out_dropdown with context %}{% from
    "macros.html" import signed_in_dropdown with context %}

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Erica+One&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- My CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="min-vh-100 d-flex flex-column bg-light">
    <header class="sticky-top bg-white border-bottom shadow-sm">
      <div class="container-xl d-lg-flex justify-content-end py-1 d-none">
        {% if current_user.is_authenticated %}
        <p class="mb-0">Welcome back, {{current_user.username}}</p>
        {{signed_in_dropdown()}} {% else %} {{signed_out_dropdown()}} {% endif%}
      </div>

      <nav
        class="navbar navbar-expand-lg bg-white border-bottom shadow-sm py-0"
      >
        <div class="container-xl py-2">
          <div class="d-flex flex-column w-100">
            <!-- Responsive Mobile layout -->
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <button
                class="navbar-toggler border-0 order-1 d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNav"
                aria-controls="mainNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <a
                class="navbar-brand m-0 order-2 flex-grow-1 text-center"
                href="{{url_for('home.home')}}"
              >
                <h1 class="nav-title mb-0 user-select-none">
                  <span class="T-N-R-I">Politics: </span>
                  <span class="erica-one-regular diagonal-gradient"
                    >Visualised</span
                  >
                </h1>
              </a>

              <button
                class="btn btn-sm btn-outline-secondary d-lg-none order-3"
              >
                <i class="bi bi-person-circle"></i>
              </button>
            </div>

            <!-- Desktop layout -->
            <div class="collapse navbar-collapse order-4" id="mainNav">
              <ul
                class="navbar-nav mx-auto border-top pt-2 pt-lg-0 border-lg-0 w-100 justify-content-center"
              >
                <li class="nav-item">
                  <a
                    class="nav-link px-3 user-select-none"
                    href="{{url_for('home.home')}}"
                    >Home</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <div
                    class="nav-link dropdown-toggle px-3 user-select-none"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Petitions
                  </div>
                  <ul class="dropdown-menu shadow border-0">
                    <li>
                      <a
                        class="dropdown-item"
                        href="{{url_for('petitions.upload')}}"
                        >Upload File</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="{{url_for('favourites.petitions')}}"
                        >Favourited Petitions</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <div
                    class="nav-link dropdown-toggle px-3 user-select-none"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    MPs
                  </div>
                  <ul class="dropdown-menu shadow border-0">
                    <li>
                      <a
                        class="dropdown-item"
                        href="{{url_for('members.search')}}"
                        >Search for an MP</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="{{url_for('favourites.members')}}"
                        >Favourited MPs</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xl flex-grow-1 p-3 p-md-4">
      {% block content %} {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
