{% extends "base.html" %} {% block title %}Petitions{% endblock %} {% block
content %}

<a href="{{url_for('petitions.upload')}}">Upload a new file</a>
<a href="">View previously saved petitions</a>

{% if option == "upload" %}
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }} {{ form.json_file.label }} {{
  form.json_file(class_="form-control") }} {{ form.submit() }}
</form>
{% endif %} {% if option == "visualise" and data %}
<div>
  <h1>Petition Data Visualiser</h1>

  <section class="container">
    <div class="row">
      <div class="col">
        <h2>Key dates</h2>
        <p>Created:</p>
        <p>Response threshold reached:</p>
        <p>Government response:</p>
        <p>Debate threshold reached:</p>
        <p>Scheduled debate date:</p>
      </div>
      <div class="col"><canvas id="signatures_by_country"></canvas></div>
    </div>

    <div class="row">
      <div class="col"><canvas id="signatures_by_constituency"></canvas></div>
      <div class="col"><canvas id="signatures_by_region"></canvas></div>
    </div>
  </section>
</div>
{% endif %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='charts.js') }}"></script>
<script>
  {% if option == "visualise" and data %}
    const chartData = {{ data|tojson }};

    document.addEventListener('DOMContentLoaded', function() {
        render_logarithmic_bar_chart('signatures_by_country', chartData.countries);
        render_bar_chart('signatures_by_constituency', chartData.constituencies);
        render_doughnut_chart('signatures_by_region', chartData.regions);
    });
  {% endif %}
</script>
{% endblock %} {% endblock %}
